.git
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
.env*
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.mypy_cache
.ruff_cache
node_modules
.vscode
.idea
tests/
*.log
.venv/
